ReceiverInterceptor doesn't populate LastSR

Hi,

I could be mistaken, but it looks like neither the sender- nor the receiver-report interceptors populate the NTPTime fields.  This is unfortunate, since these fields are used by Galene in order to perform accurate lip synch.

Note that these fields do not need to use an accurate NTP time source, it is enough that all tracks in a single stream use the same reference; hence, using time.Now should be good enough.  See [RFC 3550 Section 4](https://datatracker.ietf.org/doc/html/rfc3550#section-4):
```
   An implementation is not required to run the Network Time Protocol in
   order to use RTP.  Other time sources, or none at all, may be used
   (see the description of the NTP timestamp field in Section 6.4.1).
   However, running NTP may be useful for synchronizing streams
   transmitted from separate hosts.
```

Please feel free to steal this: https://github.com/jech/galene/blob/master/rtptime/rtptime.go#L69

Were you seeing them not populated, or populated incorrectly?

https://github.com/pion/interceptor/blob/master/pkg/report/sender_stream.go#L60

Sender reports seem to populate it, though admittedly the way it calculates it is not quite right in all cases. Per the RFC you references in [section 6.4.1](https://datatracker.ietf.org/doc/html/rfc3550#section-6.4.1), the RTP timestamp is supposed to be the same point in time as NTP timestamp (ie, derived from NTP timestamp but converted to the RTP time base & frequency). The interceptor _does_ derive the RTP timestamp from NTP timestamp, but in the case of a middlebox forwarding media, they are not necessarily using the same clock.

I noticed that Galene wasn't computing RTT to a Pion receiver, and wrongly assumed the issue is with NTPTime.  In fact, it looks like it's the LastSR field that's not being populated.  I'm still investigating.

Okay, it looks like the `RTCPReaderFunc` is never called.  I'm probably doing something wrong in my code.

Do I need anything special for the received RTCP packets to end up in the `RTCPReaderFunc`?

> Do I need anything special for the received RTCP packets to end up in the RTCPReaderFunc?

You do need to consume the RTCP packets via `(*webrtc.RTPReceiver).ReadRTCP()`, as that won't happen automatically*. If you don't have something regularly calling that (or `ReadSimulcastRTCP()`), then the RTCP packets won't make their way through the interceptor. [This](https://github.com/pion/webrtc/blob/master/examples/rtcp-processing/main.go#L42-L59) is a toy example.

*I might be wrong on this, but that was my experience.

Aha -- I nead to call `RTPRecever.Read` in order to trigger the interceptor.  Sorry for the noise.